html{
    height: 100%;
}
body{
    height: 100%;
    margin: 5px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #d7d7d7;
}


header{
    background: #c2aaaa;
    text-align: center;
    
}

.voltar{
    position: absolute;
    top: 12px;
    left: 17px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: 0.3s;
}

.voltar:hover{
    color: rgb(167, 0, 0);
    transition: 0.3s;
}

.perfil-loja{
    color: rgb(0, 0, 0);
    padding: 10px;
}

.perfil-loja img{
    width: 200px;
    height: 200px;
    border: 4px solid whitesmoke;
    border-radius: 50%;

}

.perfil-loja h1{
    font-size: 26px;
}
.perfil-loja h1,.perfil-loja p{
    margin: 0;
}

.div-av{
    margin-top:20px;
    margin-bottom: 15px;
}

.avaliacao-button{
    background-color: rgb(116, 0, 0);
    color: whitesmoke;
    border: 2px whitesmoke solid;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
   
}

.div-av input:checked ~ label{
    background-color: whitesmoke;
    color: rgb(116, 0, 0);
    transition: 0.3s;
}

main{
    padding: 40px;
}

.box-categoria{
    margin: 30px 0px;
}
.titulo-categoria{
    background: rgb(116, 0, 0);
    border-radius: 20px;
    padding: 0;
    color: white;
    text-align: center;
}

.titulo-categoria label{
    display: grid;
}



.titulo-categoria label{
    cursor: pointer;
}
.titulo-categoria input[type="checkbox"],.div-av input[type="checkbox"]{
    display: none;
    
}



/* INPUT NUMBER*/

.catalogo-produtos-descz{
    width: 400px;
}

.quantity{
    display:flex;
    width:120px;
    height: 38px;
    margin-left: 20px;
    position: relative;
    bottom: 60%;
    left: 50%;
    transform: translateY(100%);
   

}
 
 
 .quantity input[type=number]::-webkit-inner-spin-button,
 .quantity input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
 }
 
 .quantity input,.quantity button{
    width:40px;
    padding:.5em;
    font-size:1rem;
    text-align:center;
    background:white;
    border:1px solid #aaa;
    cursor: pointer;
    border: solid 1px;
    border-color: black;
 }
 

 

 /*PRODUTOS DO CATALOGO*/

 .catalogo-produtos{
   
     display: flex;
     margin-left: 35px;
     padding: 20px;
     border-bottom: 2px solid rgb(116, 0, 0);
 }

 .catalogo-produtos img{
     
     width: 150px;
     height: 150px;
     border: 2px solid rgb(116, 0, 0);
 }

.catalogo-produtos-desc{
    text-align: left;
    margin-left: 20px;
    color: rgb(116, 0, 0);
}

main .button-comprar{
    display: inline-block;
    text-align: center;
    margin-left: 44%;
    margin-right: 44%;
    background: rgb(116, 0, 0);
    border: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 100px;
    transition: 0.2s;
    cursor: pointer;
  }
  
  main .button-comprar:hover{
  
    background: rgb(167, 0, 0);
    transition: 0.2s;
  }